/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.background-color {
  background-color: #f7f7f7; }

.hero {
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #6291a9; }
  .hero .current-program-container {
    display: flex;
    flex-direction: column; }

.current-program-container h2 {
  height: 37.9px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #48a2ba; }
.current-program-container p {
  height: 37.9px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #202020; }

.hero-heading {
  width: 241px;
  height: 37.9px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2e0a3a; }

.hero-words {
  width: 241px;
  height: 37.9px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2e0a3a;
  font-size: 15px;
  font-weight: normal;
  color: #202020; }

.semesters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.side-navbar {
  width: 220px;
  height: 720px;
  background-color: #1b3c50;
  float: left;
  margin-right: 27px; }

#profile-picture {
  height: 100px;
  width: 100px;
  margin-top: 44px;
  margin-left: 55px;
  border-radius: 50%; }

.profile-name {
  width: 220px;
  height: 19px;
  padding-top: 20px;
  padding-bottom: 27px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7; }

.sidebar-container-content {
  padding-left: 21.5px; }
  .sidebar-container-content .profile-header {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 2.38;
    letter-spacing: 0.2px;
    text-align: left;
    color: #f7f7f7; }
  .sidebar-container-content .profile-links a {
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 2.82;
    color: #f7f7f7;
    text-decoration: none; }


.date-event-container {
  text-align: right; }

.date-event h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: #59aac0; }

.bottom-border {
  width: 90%;
  height: 2px;
  background-color: #6291a9;
  margin: 50px; }

.titles {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-align: left;
  color: #48a2ba; }

.heading-paragraph h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #202020; }
.heading-paragraph p {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  line-height: 1.62;
  letter-spacing: 0.2px;
  text-align: left;
  color: #373737; }
.heading-paragraph a {
  color: #33c7ba;
  text-decoration: none;
  font-family: "Roboto Slab", serif; }
=======
.home-font {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #1b3c50;
  font-weight: bold; }

.header-date {
  display: flex;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #1b3c50;
  padding-bottom: 10px; }

.date-logout-stack {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #52a5af; }

.header-margin {
  padding: 20px 37px 0px 0px; }

.content-divider {
  height: 2px;
  background-color: #6291a9;
  margin: 12px 37px 20px 27px; }

.enrolled-courses {
  padding-top: 17px;
  display: flex;
  flex-flow: column; }
  .enrolled-courses h3 {
    padding-bottom: 7px; }

.enrolled-currentgrade {
  display: flex; }

.current-grade {
  display: flex;
  flex-flow: column;
  height: 70px;
  width: 114px; }


/*# sourceMappingURL=styles.css.map */
