/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.background-color {
  background-color: #f7f7f7; }

.hero {
  width: 90%;
  margin: 0 auto; }
  .hero .current-program-container {
    display: flex;
    flex-direction: column; }

.current-program-container h2 {
  height: 37.9px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #48a2ba; }
.current-program-container p {
  height: 37.9px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #202020; }

.hero-heading {
  width: 241px;
  height: 37.9px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2e0a3a; }

.hero-words {
  width: 241px;
  height: 37.9px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: left;
  color: #2e0a3a;
  font-size: 15px;
  font-weight: normal;
  color: #202020; }

.semesters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.date-event-container {
  padding-top: 17px; }

.date-event {
  text-align: right;
  padding-right: 40px; }
  .date-event h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.2px;
    padding-right: 40px;
    color: #59aac0; }
  .date-event h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    padding-right: 40px;
    padding-bottom: 23px;
    color: #202020; }
  .date-event h3 {
    text-align: right;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-top: -300px; }
  .date-event #event-word {
    margin-top: -100px;
    text-align: right;
    padding-right: 40px;
    padding-bottom: 10px; }

.bottom-border {
  width: 90%;
  height: 2px;
  background-color: #6291a9;
  margin: 50px; }

.titles {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-align: left;
  color: #48a2ba; }

.heading-paragraph {
  width: 368px; }
  .heading-paragraph h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #202020;
    padding-top: 10px;
    padding-bottom: 8px; }
  .heading-paragraph p {
    font-family: "Roboto Slab", serif;
    font-size: 13px;
    line-height: 1.62;
    letter-spacing: 0.2px;
    text-align: left;
    color: #373737; }
  .heading-paragraph a {
    color: #33c7ba;
    text-decoration: none;
    font-family: "Roboto Slab", serif; }

.scroll {
  width: 70%;
  height: 195px;
  overflow: scroll; }

.scroll-2 {
  height: 150px;
  width: 70%;
  overflow: scroll; }

.side-navbar {
  width: 220px;
  height: 691px;
  background-color: #1b3c50;
  float: left;
  margin-right: 27px; }

#profile-picture {
  height: 100px;
  width: 100px;
  margin-top: 44px;
  margin-left: 55px;
  border-radius: 50%; }

.profile-name {
  width: 220px;
  height: 19px;
  padding-top: 20px;
  padding-bottom: 27px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7; }

.sidebar-container-content {
  padding-left: 21.5px; }
  .sidebar-container-content .profile-header {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 2.38;
    letter-spacing: 0.2px;
    text-align: left;
    color: #f7f7f7; }
  .sidebar-container-content .profile-links a {
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 2.82;
    color: #f7f7f7;
    text-decoration: none; }

.semester-and-year {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 37.9px; }

.semester {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: right;
  color: #5bd8c8; }

.semester-year {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: right;
  color: #4da4bc; }

.form-and-content-container {
  width: 80%;
  margin: 0 auto; }

.main-content-container {
  margin-left: 220px;
  background-color: #f7f7f7; }

.upcoming-courses {
  height: 21px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-align: left;
  color: #48a2ba; }

.completion-percent {
  display: flex;
  justify-content: space-between;
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: right;
  color: #33c7ba;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 53px; }
  .completion-percent h2 {
    height: 18px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: #33c7ba; }

.classes-form-container {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .classes-form-container h2 {
    height: 18px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #202020; }
  .classes-form-container form {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    line-height: 30px;
    background-color: #ffffff;
    flex-wrap: wrap; }
    .classes-form-container form p {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      letter-spacing: 0.2px;
      text-align: left;
      color: #202020; }

.course-code {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  font-size: 12px;
  font-weight: bold;
  color: #48a2ba; }

.button-container {
  display: flex;
  justify-content: flex-end; }

.register-button {
  width: 100px;
  height: 45px;
  background-color: #3bb9ba;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .register-button .button-text {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff; }

.form-title {
  border-bottom: 1px solid #359ca1; }

.main-form-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 90%; }

.english-classes-container {
  display: none;
  position: absolute;
  top: 80px;
  right: 30px; }

/*Start of upcoming courses - no classes */
.no-registered-classes-container {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  float: left; }
  .no-registered-classes-container div {
    margin: 0 auto;
    width: 90%; }

.no-registered-courses {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #48a2ba;
  padding-bottom: 20px;
  padding-top: 30px; }

.register-spring-courses {
  font-size: 15px;
  font-weight: normal;
  color: #202020;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  padding-bottom: 20px; }

#no-classes-button {
  width: 10%; }

.border {
  height: 690px; }

.general-education {
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #202020; }

.class-name {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #44ccc0;
  border-bottom: 1px solid #359ca1;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.white-background-container {
  background: #ffffff;
  width: 80%;
  margin: 0 auto;
  height: 300px; }

.background-color-gen-eds {
  height: 690px;
  background-color: #f7f7f7; }

.list-of-classes {
  background-color: #ffffff; }

.check-form {
  padding-top: 20px; }
  .check-form p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 20px;
    color: #202020; }
  .check-form span {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #48a2ba; }

#check-boxes-right {
  margin-left: 60%;
  margin-top: -100px; }

.course-class-check {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #202020; }

.get-help-button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #50e3c2; }

.help-next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 55px; }
  .help-next p {
    padding: 20px; }

#percent-box-1 {
  width: 75%;
  height: 5px;
  margin-left: 247px;
  margin-bottom: 17px;
  background: linear-gradient(to right, #50e3c2 50%, #359ca1 50%); }

.table-container {
  padding-top: 17px; }

.table-master {
  display: none; }

table {
  margin-top: 37px;
  border: 1px solid white; }

.table-headers {
  background-color: rgba(47, 207, 186, 0.15);
  width: 134px;
  height: 50px; }
  .table-headers th {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #2e0a3a;
    padding-top: 25px;
    border: 1px solid white; }

.table-classes-2 {
  width: 134px;
  height: 170px;
  background-color: #1b3c50; }
  .table-classes-2 td {
    font-family: Montserrat;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    padding-top: 85px;
    text-align: center;
    color: #f7f7f7;
    border: 1px solid white; }

.classes {
  width: 134px;
  height: 40px;
  background-color: #1b3c50;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: center;
  padding-top: 20px;
  color: #f7f7f7;
  border: 1px solid white; }

#empty-class {
  width: 134px;
  background-color: rgba(47, 207, 186, 0.15); }

.empty-blocks {
  height: 70px;
  background-color: rgba(47, 207, 186, 0.15); }

.empty-block-2 {
  height: 20px;
  background-color: rgba(47, 207, 186, 0.15); }

#wed-class {
  margin-top: -100px; }

.class-times {
  padding: 20px; }
  .class-times h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.2px;
    color: #2e0a3a; }
  .class-times h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    font-weight: bold;
    color: #202020;
    padding-bottom: 20px; }

.view-as {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: right;
  padding-right: 37px;
  margin-top: -6px;
  color: #2e0a3a; }
  .view-as span {
    color: #2fcfba;
    padding: 8px; }

.schedule-container {
  padding-top: 17px; }

.home-font {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #1b3c50;
  font-weight: bold; }

.header-date {
  display: flex;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #1b3c50;
  padding-bottom: 10px; }

.date-logout-stack {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #52a5af; }

.header-margin {
  padding: 20px 37px 0px 0px; }

.content-divider {
  height: 2px;
  background-color: #6291a9;
  margin: 12px 37px 20px 247px; }

.enrolled-courses {
  padding: 17px 0px 0px 0px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start; }
  .enrolled-courses h3 {
    padding-bottom: 7px; }
  .enrolled-courses p:last-child {
    line-height: 0px; }

.enrolled-currentgrade {
  display: flex;
  justify-content: space-between; }

.current-grade {
  margin: 21px 70px 0px 0px;
  height: 70px;
  width: 114px;
  background-color: white; }

.tenmont {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #4ca2b9;
  text-align: center;
  padding-top: 8px; }

.current-percent-font {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #33c7ba;
  padding-top: 7px; }

.percent-class-container {
  width: 370px;
  height: 190px;
  background-color: white;
  display: flex;
  padding-bottom: 10px; }

.class-completed-stacked {
  display: flex;
  flex-flow: column;
  margin: 15px 0px 20px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: center;
  color: #4a4a4a;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  border-color: teal;
  border-style: solid;
  border-width: 10px; }
  .class-completed-stacked p:first-child {
    padding-top: 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-align: center;
    color: #48a2ba; }

.start-end-date p:first-child {
  text-align: left;
  padding-top: 25px; }
.start-end-date p:last-child {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: left;
  color: #4a4a4a; }

.start-end-content {
  padding: 35px 0px 0px 20px; }

.recentgrade-percent-container {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: left;
  color: #33c7ba;
  display: flex;
  width: 60%; }
  .recentgrade-percent-container p {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 8px; }

.testing12 {
  display: flex; }

.percentages {
  padding: 27px 0px 0px 40px;
  display: flex;
  flex-flow: column;
  width: 45%; }

.recently-graded {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-left: 30px;
  width: 45%; }
  .recently-graded p:first-child {
    text-align: left; }

.second-section-grades {
  margin-top: 50px; }

.overflow {
  overflow: scroll;
  height: 418.5px; }

.border {
  border: 15px solid;
  border-image: linear-gradient(to bottom, #2fcfba 0%, #47a1ba 100%);
  border-image-slice: 1; }

#box-1 {
  width: 481px;
  height: 244px;
  border: 2px solid black; }
  #box-1 h1 {
    padding-left: 20px;
    padding-top: 20px; }

.div-options {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  text-align: left;
  padding: 10px;
  padding-left: 40px;
  color: #202020; }

.next-button {
  width: 114px;
  height: 42px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  background-color: #3bb9ba; }

.course-reg-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: left;
  color: #33c7ba; }

.box-popup {
  background-color: #f7f7f7;
  width: 480px;
  padding: 35px;
  border-color: #f7f7f7;
  border: solid 1px #979797; }
  .box-popup .nestedps {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 1.62;
    letter-spacing: 0.2px;
    text-align: left;
    color: #202020;
    padding-top: 5px; }
  .box-popup .register-button {
    padding: 0px 25px 0px 25px; }
  .box-popup .titles {
    padding: 10px 0px 5px 0px; }

textarea {
  width: 405px;
  height: 166px;
  resize: none;
  margin: 15px 0px 15px 0px; }

select {
  margin-bottom: 20px; }

.currenttext {
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  text-align: left;
  color: #202020;
  font-family: "Montserrat", sans-serif; }

.classes-padding {
  padding-left: 20px; }

/*# sourceMappingURL=styles.css.map */
