.class-times {
  padding: 20px;
  h4 {
    font-family: $font-mont;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.2px;
    color: #2e0a3a;
  }
  h3 {
    font-family: $font-mont;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    font-weight: bold;
    color: #202020;
    padding-bottom: 20px;
  }
}

.view-as {
  font-family: $font-mont;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: right;
  padding-right: 37px;
  margin-top: -6px;
  color: #2e0a3a;
  span {
    color: #2fcfba;
    padding: 8px;
  }
}

.table-container {
  height: 415px;
  margin-top: -20px;
}

.table-master {
  height: 415px;
}

.table {
  margin-top: -1px;
}
