.class-times {
  padding: 20px;
  h4 {
    font-family: $font-mont;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 0.2px;
    color: #2e0a3a;
  }
  h3 {
    font-family: $font-mont;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    font-weight: bold;
    color: #202020;
    padding-bottom: 20px;
  }
}
