.current-grade-container{
  width: 215px;
	height: 275px;
	background-color: #ffffff;
  display: inline-block;
}
.currentgrade-schedule-container{
  display: flex;
}
.semester-schedule{
  display: block;
  width: 30%;
}
.current-grades{
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  height: 500px;
}
.major-text{
  font-family: $font-mont;
	font-size: 15px;
	line-height: 1.4;
	letter-spacing: 0.2px;
	text-align: center;
	color: #202020;
  width: 90%;
  padding-left: 8px;
}
.class-text{
  font-size: 12px;
	font-weight: bold;
	line-height: 1.75;
	color: #2e0a3a;
  text-align: center;
}
.gradient-circle{
  height: 140px;
  margin-bottom: 30px;
  border-color: teal;
  border-style: solid;
  border-width: 10px;
  border: double 8px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, white,black);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.currentgrade-content:first-child{
padding-top: 30px;
}
.currentgrade-content{
  font-family: $font-mont;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.2px;
	text-align: center;
	color: #4a4a4a;
}
.gradepercentage{
  font-family: $font-mont;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 0.3px;
	text-align: center;
	color: #48a2ba;
  padding-top: 15px;
}
.currentgrade-div-content{
  padding: 18px 0px 20px 0px;
}
.currentgrade-allcontent{
  margin: 0px 30px 0px 30px;
}
.each-div{
display: flex;
margin: 20px 0px 0px 0px;
width: 47%;
}
.sem-schedule{
  padding-top: 10px;
}
.viewcalender{
  font-family: $font-mont;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.3px;
	text-align: right;
	color: #2e0a3a;
  margin: 10px 50px 0px 0px;
}
.upcoming-due{
  padding-top: 30px;
}
.date-blue-text{
  font-size: 12px;
	font-weight: bold;
	line-height: 1.75;
	color: #59aac0;
}
.upcomingdue-padding{
  padding-top: 15px;
}
.nameofclass{
  font-family: $font-mont;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.75;
	letter-spacing: 0.2px;
	text-align: left;
	color: #2e0a3a;
}
