#box-1 {
  width: 481px;
  height: 244px;
  border: 2px solid black;
  h1 {
    padding-left: 20px;
    padding-top: 20px;
  }
}
.div-options {
  font-family: $font-mont;
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  text-align: left;
  padding: 10px;
  padding-left: 40px;
  color: #202020;
}
.next-button {
  width: 114px;
  height: 42px;
  font-family: $font-mont;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  background-color: #3bb9ba;
}
.course-reg-title{
  font-family: $font-mont;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: left;
	color: #33c7ba;
}
.box-popup{
    .nestedps{
      font-family: $font-mont;
	    font-size: 13px;
	    line-height: 1.62;
	    letter-spacing: 0.2px;
	    text-align: left;
	    color: #202020;
      padding-top: 5px;
    }
      .register-button{
        padding: 0px 25px 0px 25px;
      }
        .titles{
          padding: 10px 0px 5px 0px;
        }
background-color: #f7f7f7;
width: 480px;
padding: 35px;
border-color: #f7f7f7;
border: solid 1px #979797;
}
textarea{
  width: 405px;
  height: 166px;
  resize: none;
  margin: 15px 0px 15px 0px;
}
select{
  margin-bottom: 20px;
}
.currenttext{
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  text-align: left;
  color: #202020;
  font-family: $font-mont;
}
.classes-padding{
  padding-left: 20px;
}
/* The Modal (background) */
// .modal {
//     display: none; /* Hidden by default */
//     position: fixed; /* Stay in place */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: auto; /* Enable scroll if needed */
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
//     opacity: 5%;
// }

/* Modal Content */
#box-1 {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 481px;
	  height: 223px;
    display: none;
    position:absolute;
    top: 200px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

}
#course-register-help {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 481px;
  height: 223px;
  display: none;
  position:absolute;
  top: 200px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

}
#third-popup {
  background-color: #fefefe;
  border: 1px solid #888;
  display: none;
  position:absolute;
  top: 200px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
//Courses unavailable error box (2nd option)
#courses-unavailable {
  width: 481px;
  height: 244px;
  border: 2px solid black;
  display: none;
  background-color: #fefefe;
  border: 1px solid #888;
  display: none;
  position:absolute;
  top: 200px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  h1 {
    padding-left: 20px;
    padding-top: 20px;
  }
  p {
    font-family: $font-mont;
  	font-size: 13px;
  	line-height: 1.62;
  	letter-spacing: 0.2px;
  	text-align: left;
  	color: #202020;
    padding: 20px;
    padding-bottom: 10px;
  }
}
//Shows up after describing your error to show you have submitted it.
#other-error {
  display: none;
  width: 481px;
  height: 244px;
  border: 2px solid black;
  display: none;
  background-color: #fefefe;
  border: 1px solid #888;
  display: none;
  position:absolute;
  top: 200px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

  h1 {
    padding-left: 20px;
    padding-top: 20px;
  }
  p {
    font-family: $font-mont;
    font-size: 13px;
    line-height: 1.62;
    letter-spacing: 0.2px;
    text-align: left;
    color: #202020;
    padding: 20px;
    padding-bottom: 10px;
  }
}
#thanks-button, #okay-button {
  margin-left: 15px;
  margin-top: 10px;
}

//updated 2nd part of Project
.reset-password {
  width: 490px;
  height: 350px;
  background-color: #f7f7f7;
  border: solid 1px #979797;
  h3 {
    padding-top: 44px;
    padding-bottom: 14px;
  }
  p {
    width: 425px;
    font-family: $font-mont;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 20px;
    color: #202020;
  }
  input {
    margin-bottom: 15px;
    width: 350px;
    height: 48px;
  }
}

.password-success {
  width: 490px;
  height: 265px;
  background-color: #f7f7f7;
  border: solid 1px #979797;
  h3 {
    padding-top: 44px;
    padding-bottom: 14px;
  }
  p {
    width: 425px;
    font-family: $font-mont;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 20px;
    color: #202020;
  }
  a {
    text-decoration: none;
  }

}

#resend-email {
  width: 114px;
  height: 18px;
  margin-left: 136px;
  margin-top: -30px;
  a {
  font-family: $font-mont;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #3bb9ba;
  text-decoration: none;
}
    }
