.enrolled-courses{
    h3{
        padding-bottom: 7px;
    }
  padding-top: 17px;
  display: flex;
  flex-flow: column;
}
.enrolled-currentgrade{
  display: flex;
}
.current-grade{
display: flex;
flex-flow: column;
height: 70px;
width: 114px;
}
