.side-navbar {
  width: 220px;
  height: 720px;
  background-color: #1b3c50;
}


#profile-picture {
  height: 100px;
  width: 100px;
  margin-top: 44px;
  margin-left: 55px;
  border-radius: 50%;
}

.profile-name {
  width: 220px;
  height: 19px;
  padding-top: 20px;
  padding-bottom: 27px;
  font-family: $font-mont;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f7f7f7;
}

.sidebar-container-content {
  padding-left: 21.5px;
  .profile-header {
    font-family: $font-mont;
    font-size: 13px;
    line-height: 2.38;
    letter-spacing: 0.2px;
    text-align: left;
    color: #f7f7f7;
  }
  .profile-links a {
    padding-left: 30px;
    font-family: $font-mont;
    font-size: 11px;
    font-weight: bold;
    line-height: 2.82;
    color: #f7f7f7;
    text-decoration: none;
  }
}
