//sample page content
.semester-and-year {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 37.9px;
}
.semester {
  font-family: $font-mont;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: right;
	color: #5bd8c8;
}
.semester-year {
  font-family: $font-mont;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: right;
  color: #4da4bc;
}

.form-and-content-container {
  width: 80%;
  margin: 0 auto;
}
.main-content-container {

  margin-left: 220px;
  background-color: #f7f7f7;

}
.upcoming-courses {
  height: 21px;
	font-family: $font-mont;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.75;
	letter-spacing: 0.2px;
	text-align: left;
	color: #48a2ba;

}
.completion-percent {
  display: flex;
  justify-content: space-between;
  height: 18px;
	font-family: $font-mont;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: right;
	color: #33c7ba;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 53px;
  h2 {
    height: 18px;
  	font-family: $font-mont;
  	font-size: 14px;
  	font-weight: bold;
  	letter-spacing: 0.2px;
  	text-align: left;
  	color: #33c7ba;
  }
}
.classes-form-container {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  position: relative;
  h2 {
    height: 18px;
  	font-family: $font-mont;
  	font-size: 14px;
  	letter-spacing: 0.2px;
  	text-align: left;
  	color: #202020;
  }
  form {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    line-height: 30px;
    background-color: #ffffff;
    flex-wrap: wrap;
    p {
      font-family: $font-mont;
    	font-size: 15px;
    	letter-spacing: 0.2px;
    	text-align: left;
    	color: #202020;

    }
  }
}
.course-code {
  font-family: $font-mont;
  letter-spacing: 0.2px;
  font-size: 12px;
  font-weight: bold;
  color: #48a2ba;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.register-button {
  width: 100px;
  height: 45px;
  background-color: #3bb9ba;
  margin-right: 40px;
  margin-bottom: 5px;
  display:flex;
  align-items: center;
  justify-content:center;
  .button-text {
    font-family: $font-mont;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
  }
}
.form-title {
  border-bottom: 1px solid #359ca1;
}
.main-form-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 90%;


}
.english-classes-container {
  display: none;
  position: absolute;
  top: 70px;
  right: 30px;
}

/*Start of upcoming courses - no classes */
.no-registered-classes-container {
  height: 214px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  float: left;
  div {
    margin: 0 auto;
    width: 90%;
  }
}
.no-registered-courses {
  font-family: $font-mont;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: center;
	color: #48a2ba;
  padding-bottom: 20px;
  padding-top: 30px;
}
.register-spring-courses {
  font-size: 15px;
	font-weight: normal;
	color: #202020;
  font-family: $font-mont;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: center;
  padding-bottom: 20px;
}
#no-classes-button {
  width: 10%;
  a {
    text-decoration: none;
  }
}
.border {
  height: 690px;
}
//Upcoming courses schedule gen eds
.general-education {
  height: 18px;
	font-family: $font-mont;
	font-size: 14px;
	letter-spacing: 0.2px;
	text-align: left;
	color: #202020;
}
.class-name {
	font-family: $font-mont;
	font-size: 15px;
	line-height: 2.4;
	letter-spacing: 0.2px;
	text-align: left;
	color: #44ccc0;
  border-bottom: 1px solid #359ca1;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.white-background-container {
  background: #ffffff;
  width: 75%;
  margin: 0 auto;
  height: 370px;
  margin-left: 243px;

}
.background-color-gen-eds {
  height: 690px;
  background-color: #f7f7f7;
}

.list-of-classes {
  background-color: #ffffff;

  a {
    text-decoration: none;
  }
}

//upcoming courses step 1
.check-form {
  padding-top: 20px;
  p {
    font-family: $font-mont;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 20px;
    color: #202020;
  }
  span {
    font-family: $font-mont;
    font-size: 12px;
    font-weight: bold;
    color: #48a2ba;
  }

}

#check-boxes-right {
  margin-left: 60%;
  margin-top: -100px;
}
.course-class-check {
  font-family: $font-mont;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #202020;
}

.get-help-button {
  font-family: $font-mont;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #50e3c2;
}

.help-next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 80px;
  padding-top: 50px;

  p {
    padding: 20px;
  }
}


#percent-box-1{
  width: 90%;
  height: 5px;
  margin-left: 20px;
  margin-bottom: 17px;
  background: linear-gradient(to right, #50e3c2 50% , #359ca1 50%);
}

.container {
  height: 331px;
  margin-left: 240px;
  margin-right: 50px;
  background: #ffffff;
}

.no-selection-error-message {
  color: red;
  font-weight: bold;
  display: none;
}
